---
layout: layout.liquid
title: Home
permalink: /index.html
---

<h1>Everyday Items</strong></h1>
<p>These are the three items I absolutely cannot leave home without.</p>

<main>
    <ul>
        <li><a href="/tissues/">Tissues: For unexpected needs.</a></li>
        <li><a href="/glasses/">Glasses: Essential for vision.</a></li>
        <li><a href="/water-bottle/">Water Bottle: Staying hydrated on the go.</a></li>
    </ul>
</main>